<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Musify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        {% if session.logged_in %}
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/Albums">Album</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Artistes">Artiste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tracks">Chanson<span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <ul class="navbar-nav ml-auto" >
           <li class="nav-item">
           <a class="nav-link" href="/logout">Déconnexion</a>
           </li>
           <liclass="nav-item">
             <a class="nav-link" href="/dashboard">Mon profil</a>
           </li>
          </ul>
        {% else %}
          <ul class="navbar-nav ml-auto" >
         <li class="nav-item">
         <a class="nav-link" href="/register">Inscription</a>
         </li>
        <li class="nav-item">
        <a class="nav-link" href="/login">Se connecter</a>
        </li>
        {% endif %}
      </ul>
  </div>
</nav>