{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container">
    <h2 style="text-align: center">{{album.name}}</h2>
    <br>
    <div class="row">
        <div class="card col-md-4">
            <img src="{{album.image}}" style="height: 18rem">
        </div>
        <div class="col-md-6">
            <p class="lead">{{album.description}}</p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h2 style="text-align: center">Chansons de l'album {{album.name}}</h2>
	<div class="row">
        {% for track in album.tracks %}
		<div class="col-md-1"></div>
		<div class="col-md-10" style="margin-top: 10px;margin-bottom: 10px">
			<div class="card" style="padding: 10px">
				<div class="row">
					<div class="col-md-6">
						<h3>Titre : {{track.trackName}}</h3>
						<h5>Durée : {{track.trackDuration}}</h5>
					</div>
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
                    <p><a class="btn btn-secondary" href="../../tracks/{{track.trackId}}" role="button">Écouter</a></p>
                    <p><a class="btn btn-secondary" href="../../tracks/add_track/{{track.trackId}}" role="button">Ajouter</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		{% endfor %}
		</div>
	</div>
</div>
<br>
{% endblock %}