{% extends 'layout.html' %}

{% block body %}
<script>
function goToSearch(el) {
    if(event.key === 'Enter') {
        var searchTerm = el.value;
        window.location = "albums/search?term=" + searchTerm;
    }
}
</script>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-8">
            <h1 style="display: inline-block">Albums</h1>
		</div>
		<div class="col-md-4">
			<div class="input-group">
            <input  type="text" class="form-control" placeholder="Rechercher" onkeydown="goToSearch(this)"  value="">
			</div>
		</div>
    </div>
	</div>
</div>
<br>

<div class="container">
    <div class="row">
        {% for album in Albums %}
        <div class="col-md-4" style="padding: 10px">
            <div class="card">
                <img src="{{album.image}}" style="height: 18rem">
                <div class="card-body">
                    <h3>{{album.name}}</h3>
                    <h5>{{album.artist}}</h5>
                    <p><a class="btn btn-secondary" href="albums/{{album.id}}" role="button">Découvrir</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}