{% extends 'layout.html' %}
{% block body %}
<script>
function goToSearch(el) {
    if(event.key === 'Enter') {
        var searchTerm = el.value;
        window.location = "Artistes/search?term=" + searchTerm;
    }
}
</script>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 style = "display: inline-block">Artistes</h1>
		</div>
		<div class="col-md-4">
			<div class="input-group">
				<input  type="text" class="form-control" placeholder="Rechercher" onkeydown="goToSearch(this)"  value="">
			</div>
		</div>
    </div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
	{% for artiste in Artistes%}
		<div class="col-md-4" style="padding: 10px">
			<div class="card">
			  <img src="{{artiste.image}}" style="height: 18rem">
			  <div class="card-body">
				<h3>{{artiste.name}}</h3>
				<p><a class="btn btn-secondary" href="Artistes/{{artiste.id}}" role="button">Découvrir</a></p>
			  </div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}