{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container">
    <h1 style="text-align: center">{{artist.name}}</h1>
    <br>
    <div class="row">
        <div class="card col-md-4">
            <img src="{{artist.image}}" style="height: 20rem">
        </div>
        <div class="col-md-6">
            <p class="lead">{{artist.description}}</p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h2 style="text-align: center"> Albums de {{artist.name}} : </h2>
</div>
<div class="container">
    <div class="row">
        {% for album in artist.albums %}
        <div class="col-md-4" style="padding: 10px">
            <div class="card">
                <img src="{{album.image}}" style="height: 18rem">
                <div class="card-body">
                    <h3>{{album.name}}</h3>
                    <h5>{{album.artist}}</h5>
                    <p><a class="btn btn-secondary" href=" ../../albums/{{album.id}}" role="button">Découvrir</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

