{% extends 'layout.html' %}
{% block body %}
<div class="container">
	<h2 style="text-align: center">Vos favoris</h2>
    <br>
	<div class="row">
	{% for track in tracks %}
		<div class="col-md-1"></div>
		<div class="col-md-10" style="margin-top: 10px;margin-bottom: 10px">
			<div class="card" style="padding: 10px">
				<div class="row">
					<div class="col-md-4">
						<h5>Titre : {{track.name}}</h5>
						<h5>Durée : {{track.duration}}</h5>
					</div>
					<div class="col-md-5">
						<h5>Album :     {{track.album_name}}</h5>
						<audio controls><source src="https://ia800606.us.archive.org/6/items/Dr.DreFt.SnoopDoggKuruptNateDogg-TheNextEpisodeInstrumental/Dr%20Dre%20-%20The%20Next%20Episode.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>
					</div>
					<div class="col-md-2">
						<p><a class="btn btn-secondary" href="tracks/delete_track/{{track.id}}" role="button"> Supprimer</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}