{% extends 'layout.html' %}
{% block body %}
<br>
<div class="jumbotron test-center">
    <div class="container" style="text-align: center">
        {% if session.logged_in %}
        <h1 class="jumbotron-heading">Musify</h1>
        <br>
        <p class="lead text-muted">Toute votre musique préférée. La meilleure qualité sonore disponible. Partout en tout temps!</p>
        {% else %}
        <h1 class="jumbotron-heading">Musify</h1>
        <br>
        <p class="lead text-muted">Toute votre musique préférée. La meilleure qualité sonore disponible. Partout en tout temps!</p>
        <p>
            <a href="/register" class="btn btn-primary my-2">Inscription</a>
            <a href="/login" class="btn btn-secondary my-2">S'identifier</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}