{% extends 'layout.html' %}
{% block body %}
<br>
  <h1>Se connecter</h1>
<br>
  <form action="" method="POST">
    <div class="form-group">
      <label>Adresse Email</label>
      <input type="text" name="email" class="form-control" value={{request.form.email}}>
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Connexion</button>
  </form>
{% endblock %}