{% extends 'layout.html' %}

{% block body %}


<br>
<div class="container">
	<div class="row">
		<div class="col-md-8">
            <h1 style="display: inline-block">Chansons</h1>
		</div>
		<div class="col-md-4">
			<div class="input-group">
            <input  type="text" class="form-control" placeholder="Rechercher" onkeydown="goToSearch(this)"  value="">
			</div>
		</div>
    </div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
	{% for track in tracks %}
		<div class="col-md-1"></div>
		<div class="col-md-10" style="margin-top: 10px;margin-bottom: 10px">
			<div class="card" style="padding: 10px">
				<div class="row">
					<div class="col-md-6">
						<h3>Titre :    {{track.name}}</h3>
						<h5>Durée :   {{track.duration}}</h5>
						<h5>Album :   {{track.name_album}}</h5>
					</div>
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
						<p><a class="btn btn-secondary" href="tracks/{{track.id}}" role="button">Écouter</a></p>
						<p><a class="btn btn-secondary" href="tracks/add_track/{{track.id}}" role="button">Ajouter</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		{% endfor %}
		</div>
	</div>
</div>

<script>
function goToSearch(el) {

    if(event.key === 'Enter') {
        var searchTerm = el.value;
        window.location = "tracks/search?term=" + searchTerm;
    }
}
</script>
{% endblock %}