{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container">
			<div class="row">
			{% for track in track %}
				<div class="col-md-12">
					<div class="card" style="padding: 10px">
						<div class="row">
							<div class="col-md-4">
								<h2>Titre :    {{track.name}}</h2>
								<h5>Album :     {{track.album_name}}</h5>
							</div>
							<div class="col-md-4">
								<audio controls><source src="https://ia800606.us.archive.org/6/items/Dr.DreFt.SnoopDoggKuruptNateDogg-TheNextEpisodeInstrumental/Dr%20Dre%20-%20The%20Next%20Episode.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<p><a class="btn btn-secondary" href="../../tracks/add_track/{{track.id}}" role="button"> Ajouter</a></p>
							</div>
						</div>
					</div>
				  </div>
				</div>
			{% endfor %}
			</div>
		</div>
{% endblock %}